<div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

	<stf-header fab-icon="icon-magnify" fab-text="Nova Petição" path="registro.path"> </stf-header>

    <!-- CONTENT -->
    <div class="content" layout="column">

        <div class="md-title mt-10">Remessa</div>
        <div class="pb-16">Informe a classe, as preferências, os envolvidos e os documentos para enviar a petição</div>

        <div layout="row">

            <!-- BASIC FORM -->
            <div class="form-wrapper md-whiteframe-1dp" flex="100">

                <form name="basicForm" ng-submit="registro.registrarRemessa()" class="md-inline-form">

                    <div layout="row" layout-gt-xs="row" class="layout-gt-xs-row">
                        <md-input-container flex>
                            <label for="qtdVolumes">Quantidade de volumes</label>
                            <input type="number" ng-model="registro.cmd.volumes" id="qtdVolumes" ng-required="true">
                        </md-input-container>
                        <md-input-container flex>
                            <label for="qtdApensos">Quantidade de apensos</label>
                            <input type="number" ng-model="registro.cmd.apensos" id="qtdApensos" ng-required="true">
                        </md-input-container>
                    </div>
                    <div layout="row" layout-gt-xs="row">
                        
                        <md-input-container flex="50">
                            <label for="formaRecimento">Forma de Envio *</label>
                            <md-select ng-model="registro.cmd.formaRecebimento" name="formaRecimento" id="formaRecimento" ng-required="true">
                            	<md-option></md-option>
                                <md-option ng-repeat="forma in registro.formasRecebimento" value="{{forma.sigla}}">
                                    {{forma.descricao}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container flex ng-if="registro.showSedex()">
                            <label for="numeroSedex">Número do Sedex</label>
                            <input type="text" ng-model="registro.cmd.numeroSedex" id="numeroSedex" ng-required="true">
                        </md-input-container>
                    </div>
                    <div layout="row" layout-gt-xs="row">
                        <md-input-container flex="50">
                            <label for="tipoProcesso">Tipo de Processo *</label>
                            <md-select ng-model="registro.cmd.tipoProcesso" id="tipoProcesso" ng-required="true">
                            	<md-option></md-option>
                                <md-option ng-repeat="tipo in registro.tiposProcessos" value="{{tipo.id}}">
                                    {{tipo.nome}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                    <md-button type="submit" class="md-raised md-accent" id="registrar-remessa" aria-label="Submit" command="registro.cmd">
                        Registrar
                    </md-button>
                      
                </form>

            </div>
            <!-- / BASIC FORM -->

        </div>

    </div>
    <!-- / CONTENT -->

</div>