# --------------------------------
# Mac OS
.DS_Store
.project

# Node
node_modules
node
node_cache

# Typings
src/main/ui/typings
src/test/ui/e2e/typings
src/test/ui/unit/typings

# JS Main
src/main/resources/public

# JS Test E2E
src/test/ui/e2e/**/*.js
src/test/ui/e2e/build
src/test/ui/e2e/results
src/test/ui/e2e/app/shared

# JS Test Unit
src/test/ui/unit/**/*.js
src/test/ui/unit/build
src/test/ui/unit/bower_components
src/test/ui/unit/results
src/test/ui/unit/coverage
src/test/ui/unit/app/shared

# --------------------------------

# Visual Studio Code
.vscode

# Eclipse
.settings/
.classpath
.project
.springBeans
.tmp

# Gradle
.gradle
build
bin
data
