# Define a configuração para rodar os testes e2e
# As variáveis utilizadas neste arquivo estão definidas no arquivo .env
version: '2'
services:
  discovery:
    ports:
     - "8761:8761"
    environment:
     - JAVA_OPTS=${JAVA_SERVICE_OPTS}
  gateway:
    ports:
     - "8765:8765"
  services:
    environment:
     - spring.profiles.active=${JAVA_SERVICE_SPRING_PROFILES}
     - JAVA_OPTS=${JAVA_SERVICE_OPTS}
  documents:
    environment:
     - JAVA_OPTS=${JAVA_SERVICE_OPTS}
     - spring.profiles.active=${JAVA_SERVICE_SPRING_PROFILES}
     - onlyoffice.documentserver.host=gateway
     - onlyoffice.server.address=https://docker:443
  recebimento:
    container_name: recebimento
    image: stfdigital-autuacao-recebimento
    environment:
     - JAVA_OPTS=${JAVA_SERVICE_OPTS}
     - spring.profiles.active=${JAVA_SERVICE_SPRING_PROFILES},e2e
    depends_on:
     - rabbit
     - discovery
  onlyoffice:
    image: supremotribunalfederal/onlyofficeds
    stdin_open: true
    mem_limit: 2000000000
    ports:
     - "443:443"
    environment:
     - SSL_CERTIFICATE_PATH=/certs/docker/onlyoffice.crt
     - SSL_KEY_PATH=/certs/docker/onlyoffice.key
     - SSL_DHPARAM_PATH=/certs/docker/dhparam.pem
  selenium:
    container_name: selenium
    image: selenium/standalone-chrome:2.53.0
    ports:
     - "4444:4444"
    depends_on:
     - docker
  docker:
    container_name: docker-ambassador
    image: svendowideit/ambassador
    environment:
     - UI_PORT_8443_TCP=tcp://ui:8443
     - GATEWAY_PORT_8765_TCP=tcp://gateway:8765
     - ONLYOFFICE_PORT_443_TCP=tcp://onlyoffice:443
    depends_on:
     - ui
     - gateway
     - onlyoffice