<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <jmxConfigurator/>
    
	<springProperty name="appName" source="spring.application.name"/>
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} %-5level [%logger] %message%n</pattern>
		</encoder>
	</appender>

	<appender name="JSON" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/${appName}/application.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/${appName}/application.log.%d{yyyy-MM-dd}</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<provider class="net.logstash.logback.composite.loggingevent.ArgumentsJsonProvider"/>
			<customFields>{"app_name":"${appName}"}}</customFields>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="JSON" />
	</root>
	
    <logger name="org.springframework.security" level="WARN"/>
    <logger name="org.springframework.context" level="WARN"/>
    <logger name="org.springframework.beans" level="WARN"/>
    <logger name="org.springframework.boot" level="WARN"/>
    <logger name="org.springframework.web" level="WARN"/>
    <logger name="org.springframework.jmx" level="WARN"/>
    <logger name="org.springframework.orm" level="WARN"/>
    <logger name="org.springframework.remoting" level="WARN"/>
    <logger name="org.springframework.scheduling" level="WARN"/>
    <logger name="org.springframework.messaging" level="WARN"/>
    <logger name="org.springframework.cloud.config" level="WARN"/>
    <logger name="org.activiti.engine" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.hibernate.SQL" level="WARN"/>
    <logger name="org.hibernate.type" level="WARN"/>
    <logger name="de.flapdoodle.embed.mongo.tests" level="WARN"/>
    <logger name="de.flapdoodle.embed.process.runtime" level="WARN"/>
    <logger name="org.elasticsearch" level="WARN"/>
    <logger name="org.apache.catalina.core" level="WARN"/>
    <logger name="org.apache.coyote" level="WARN"/>
    <logger name="org.apache.tomcat" level="WARN"/>
    <logger name="org.flywaydb.core.internal" level="WARN"/>
    <logger name="com.mangofactory.swagger" level="WARN"/>
    <logger name="org.springframework.amqp" level="WARN"/>
    <logger name="org.springframework.integration" level="WARN"/>
    <logger name="org.springframework.jdbc" level="WARN"/>
    <logger name="io.undertow" level="WARN"/>
    <logger name="org.xnio" level="WARN"/>
    <logger name="com.netflix.discovery" level="WARN"/>
    
    <logger name="br.jus.stf.core.framework.monitoring.RequestTraceReporter" level="TRACE" additivity="false">
        <appender-ref ref="JSON"/>
    </logger>
    
</configuration>

