<div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- CONTENT -->
    <div class="content" layout="column">

        <div class="md-title mt-10"><span translate="REMESSA.DEVOLUCAO-ASSINATURA.TITULO"></span></div>
        <div class="pb-16"><span translate="REMESSA.DEVOLUCAO-ASSINATURA.DESCRICAO"></span></div>

        <div class="simple-table-container md-whiteframe-4dp">
            <div class="table-title">
                Remessas
            </div>

            <table class="simple" ms-responsive-table>
                <thead>
                    <tr>
                        <th>
                            <md-checkbox aria-label="Selecionar todas"
                                         ng-checked="vm.isChecked()"
                                         md-indeterminate="vm.isIndeterminate()"
                                         ng-click="vm.toggleAll()">
                            </md-checkbox>
                        </th>
                        <th>Remessa</th>
                        <th>Documento de Devolução</th>
                        <th>Arquivo Original</th>
                        <th>Progresso</th>
                    </tr>
                </thead>

                <tfoot>
                    <tr>
                        <td></td>
                    </tr>
                </tfoot>

                <tbody>
                    <tr ng-repeat="devolucao in vm.devolucoes">
                        <td>
                            <md-checkbox checklist-model="vm.devolucoesParaAssinar" checklist-value="devolucao">
                            </md-checkbox>
                        </td>
                        <td>{{devolucao.remessaNumero}}/{{devolucao.remessaAno}}</td>
                        <td>{{devolucao.modeloDevolucao.nome}}</td>
                        <td><a ng-href="{{vm.urlConteudo(devolucao)}}" target="_blank">Visualizar</a></td>
                        <td><md-progress-linear ng-show="devolucao.progresso" md-mode="determinate" value="{{devolucao.progresso()}}"></md-progress-linear></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div layout="row">
            <md-button type="button" class="md-raised md-accent" id="btnAssinar" aria-label="Assinar" ng-click="vm.assinar()">
                Assinar
            </md-button>
        </div>
    </div>
    <!-- / CONTENT -->

</div>