<div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- CONTENT -->
    <div class="content" layout="column">

        <div class="md-title mt-10">Nova Petição</div>
        <div class="pb-16">Informe a classe, as preferências, os envolvidos e os documentos para enviar a petição</div>

        <div layout="row">

            <!-- BASIC FORM -->
            <div class="form-wrapper md-whiteframe-1dp" flex="100">

                <form name="basicForm" ng-submit="registro.registrarPeticao(this)" class="md-inline-form">

                    <div layout="column" layout-gt-xs="row" class="layout-gt-xs-row">
                        <md-input-container flex>
                            <label>Quantidade de volumes</label>
                            <input ng-model="registro.qtdVolumes" id="qtdVolumes" class="ng-pristine ng-valid md-input ng-empty">
                        </md-input-container>
                        <md-input-container flex>
                            <label for="input_qtd">Quantidade de apensos</label>
                            <input ng-model="registro.qtdApensos" id="qtdApensos" class="ng-pristine ng-valid md-input ng-not-empty" id="input_qtd" aria-invalid="false">
                        </md-input-container>
                    </div>
                    <div layout="column" layout-gt-xs="row">
                        
                        <md-input-container flex>
                            <label>Forma de Envio</label>
                            <md-select ng-model="registro.formaRecebimento" id="formaRecimento">
                                <md-option></md-option>
                                <md-option ng-repeat="forma in registro.formasRecebimento" value="{{forma.descricao}}">
                                    {{forma.descricao}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container flex>
                            <label for="input_qtd">Número do Sedex</label>
                            <input ng-model="registro.numSedex" id="numeroSedex" class="ng-pristine ng-valid md-input ng-not-empty" id="input_qtd" aria-invalid="false">
                        </md-input-container>
                    </div>
                    <div layout="row" layout-gt-xs="row">
                        <md-input-container flex="50">
                            <label>Tipo de Processo</label>
                            <md-select ng-model="registro.tipoProcesso" id="tipoProcesso">
                                <md-option></md-option>
                                <md-option ng-repeat="tipo in registro.tiposProcessos" value="{{tipo.id}}">
                                    {{tipo.nome}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                    <md-button type="submit" class="md-raised md-accent" id="btnRegistrarPeticao" aria-label="Submit" ng-disabled="basicForm.$invalid || basicForm.$pristine">
                        Registrar
                    </md-button>
                      
                </form>

            </div>
            <!-- / BASIC FORM -->

        </div>

    </div>
    <!-- / CONTENT -->

</div>